h1, h2, p, li {
    font-family: "Rubik", sans-serif;
}

body {
    margin: 0;
    background-color: coral;
}

.div {
    max-width: 1000px;
    margin: 40px auto;
    background-color: white;
}

.site-header {
    background-color: fuchsia;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.site-nav {
    display: flex;
    gap: 15px;
    padding: 0;
    list-style: none;
}

.flex-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar {
    flex: 0 0 250px;
    background-color: aquamarine;
    padding: 20px;
}

.article {
    flex-grow: 1;
    background-color: yellow;
    padding: 20px;
}

.footer {
    background-color: fuchsia;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}